

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#AFD971;
    border-bottom: 10px solid #000000; 
    padding: 10px 20px;
    
}

#logo {
    width: 50px;
    height: 50px;
}

a {
     display: inline-flex;
     align-items: center;
     color: #0b1426;
     font-size: 20px;
     font-family: Quantico, sans-serif;
     font-weight: 400;
     text-decoration: none;
     margin-right:  30px;
}

a::before {
    content:"";
    background-color: #0b1426;
    width: 10px;
    height: 10px;
    margin-right: 10px;   
} 

.button-downloadCV {
    display: inline-block;
    background-color: #3A4042;
    color: white;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;  
    margin-right: 0;
    transition: transform 100ms linear;
}

.button-downloadCV:hover {
    transform: scale(1.08);
    opacity: 0.96;
}

.effect:hover {
    transform: scale(1.08);
    opacity: 0.96;
}
