body {
    background-color: #0b1426;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#AFD971;
    border-bottom: 10px solid #000000; 
    padding: 10px 20px;
}

#logo {
    width: 50px;
    height: 50px;
}

a {
     display: inline-flex;
     align-items: center;
     color: #0b1426;
     font-size: 20px;
     font-family: Quantico, sans-serif;
     font-weight: 400;
     text-decoration: none;
     margin-right:  30px;
}

.effect::before {
    content:"";
    background-color: #0b1426;
    width: 10px;
    height: 10px;
    margin-right: 10px;   
} 

.buttonnav-downloadCV {
    display: inline-block;
    background-color: #3A4042;
    color: white;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;  
    margin-right: 0;
    transition: transform 100ms linear;
}

.buttonnav-downloadCV:hover {
    transform: scale(1.08);
    opacity: 0.96;
}

.effect:hover {
    transform: scale(1.08);
    opacity: 0.96;
    color: rgb(67, 87, 39);
}

.box {
    position: absolute;
    background-color: #4C5B84;
    width: 627px;
    height: 188px;
    top: 355px;
    left: 80px; 
    box-shadow: 10px 10px 0px #000000;
}



h2 {  
    font-size: 40px; 
    font-family: Quantico, sans-serif;;
    color: #AFD971;
    text-align: center; 
    text-shadow: 4px 4px 1px #000000; 
 }

 .buttonmain-downloadCV {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #AFD971;
    width: 170px;
    height: 61px;
    left: 165px;
    top: 590px;
    transition: transform 100ms linear;
    box-shadow: 5px 5px 0px #000000;
      
 }

 .buttonmain-downloadCV:hover {
    transform: scale(1.08);
    background-color: #b5f556;
 }

 


    


