.box {
    display: inline-block;
    background-color: #4C5B84;
    width: 600px;
    box-shadow: 10px 10px 0px #000000;
    text-align: center;
    padding: 42px 44px;     
}

.box title {
    margin-bottom: 28px;
}