.button {
    display: inline-block;
    background-color: #2e4072;
    color: white;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;  
    margin-right: 0;
    transition: transform 100ms linear;
    font-size: 20px;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.08);
    opacity: 0.96;
} 