.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#AFD971;
    border-bottom: 10px solid #000000; 
    padding: 10px 20px;
}

.action:hover {
    transform: scale(1.08);
    opacity: 0.96;
    color: rgb(67, 87, 39);
} 