.main-carousel {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(-100%)  ;  
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}