.main-description {
    color: #fff;
    font-size: 30px;
    font-weight: 300px;
    line-height: 1.4;
    font-family: Quantico, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;

}