.main-section {
    background-color: #AFD971;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #2e4072;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #0b1426;

}

.main-section.-bdFirst {
    border-color: #2e4072;
}