.main-footer {
    display: flex;
    justify-content: center;
    background-color: #0b1426;
    padding-top: 28px;
    padding-bottom: 28px

}


.main-footer .action {
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 300ms linear;
}

.main-footer .action:hover {
    transform: scale(1.3);
   
}