.main-banner {
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/img/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid #000;
    padding-top: 89px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main-banner .wrapper {
   
    width: 640px;  
    
} 

.main-banner .box {
   
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}

