.node-card {
    display: flex;

}

.node-card .title {
    font-size: 25px;
    font-weight: 400;
    color: AFD971;
    font-family: Quantico, sans-serif;

}

.node-card .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
    border: 5px solid #000;
    padding-left: 20px;
    padding-right: 20px;
}