.project-cards {
    display: flex;
    justify-content: space-around;
}

.project-cards .card {
    margin-top: 25px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 0 #2e4072;
}

.actioncard:hover {
    transform: scale(1.08);
}

   
   
   
    
    
    
    

   
